<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <title>Ask me</title>
    <meta name="description" content="Ask me Responsive Questions and Answers Template">
    <meta name="author" content="2code.info">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/skins/skins.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lists.css' %}">
    <link rel="stylesheet" href="../../static/css/prettyPhoto.css">
    <link rel="stylesheet" href="{% static 'css/fontello/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

</head>
<style type="text/css">
    body{
        background-color: #eaeaeb;
    }
    .search_field{
        background-color: #eaeaeb;
    }
</style>
<body>


<div id="wrap" class="grid_1200">
    <header id="header">
        <section class="container clearfix">
            <div class="logo"><a href="/index/"><img alt="" src="../../static/images/logo.png"></a></div>
            <nav class="navigation">
                <ul>
                    <li class="home"><a href="/index/">Home</a></li>
                    <li class="ask_question"><a href="/ask_question/">Ask Question</a></li>
                    {% if request.user.username %}
                        <li><a href="/logout/">Logout</a></li>
                    {% else %}
                        <li><a href="/login/">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
        </section>
    </header>
    <div class="section-warp ask-me">
        <div class="container clearfix">
            <div class="box_icon box_warp box_no_border box_no_background" box_border="transparent" box_background="transparent" box_color="#FFF">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Welcome to VFS Global, Help Forum</h2>
                        <p>We understand that you may have many questions, why don't you search for one and get the answer?<br>If in the rare chance that you do not find your answer, ask that question and be sure to get it solved as soon as possible.<br> Sign up now to join the community and ask or solve your first question today!</p>
                        <form class="form-style form-style-2" id="the-form" method="POST" action='/search/'>
                            {% csrf_token %}
                            <p>
                                <input type="text" name='question_title'id="question_title" placeholder="Search for your question, to see if it is already solved" required>
                                <i class="icon-pencil"></i>
                                <span onclick="$(this).closest('form').submit();" class="color button small publish-question">Search</span>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container main-content">
        <div class="row">


            {% block content %}
            {% endblock %}



            <aside class="col-md-3 sidebar">
                {% if request.user.username %}
                    <a href="/viewprofile/{{request.user.id}}">
                        <div class="widget widget_login">
                            <h3 class="widget_title">My Profile</h3>

                            <div class="form-style form-style-2">
                                <img alt="" src="../../static/media/{{ showUser.profilePic }}">
                                <br>
                                <br>
                                <h6>{{ showUser.firstName }} {{ showUser.lastName }}</h6>
                                <h6>{{ request.user.username }}</h6>
                                <span class="comment">{{ showUser.points }} Points</span>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </a>

                    <br>
                {% endif %}


                <div class="widget widget_stats">
                    <h3 class="widget_title">Stats</h3>
                    <div class="ul_list ul_list-icon-ok">
                        <ul>
                            <li><i class="icon-question-sign"></i>Questions ( <span>{{ questions_all|length }}</span> )</li>
                            <li><i class="icon-comment"></i>Answers ( <span>{{ answers_all|length }}</span> )</li>
                        </ul>
                    </div>
                </div>

               
                <div class="widget widget_highest_points">
                    <h3 class="widget_title">Highest points</h3>
                    <ul>
                    {% for user in users %}
                        <a href="/viewprofile/{{ user.user.id }}">
                            <li>
                                <div class="author-img">
                                    <img width="60" height="60" src="../../static/media/{{ user.profilePic }}" alt="">
                                </div>
                                <h6>{{ user.firstName }} {{ user.lastName }}</h6>
                                <span class="comment">{{ user.points }} points</span>
                                <br>
                                <br>
                            </li>
                        </a>
                    {% endfor %}
                    </ul>
                </div>
                {% if tags|length != 0 %}
                <div class="widget widget_tag_cloud">
                    <h3 class="widget_title">Tags</h3>
                    {% for t in tags %}
                        <a href="/tagged/{{ t }}">{{ t }}</a>
                    {% endfor %}                
                </div>
                {% endif %}

                <div class="widget">
                    <h3 class="widget_title">Recent Questions</h3>
                    <ul class="related-posts">
                        {% for rq in questions_rq5 %}
                            <li class="related-item">
                                <h3><a href="#">{{ rq.question_title }}</a></h3>
                                <p style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">   {{ rq.question_text }}</p>
                                <div class="clear"></div><span>{{ rq.timeSince }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </aside>
        </div>
    </section>





    <footer id="footer">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget widget_contact">
                        <h3 class="widget_title">Where We Are ?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.</p>
                        <ul>
                            <li>
                                <span>Address :</span>
                                Ask Me Network, 33 Street, syada Zeinab, Cairo, Egypt.
                            </li>
                            <li>
                                <span>Support :</span>Support Telephone No : (+2)01111011110
                            </li>
                            <li>Support Email Account : info@example.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget_title">Quick Links</h3>
                        <ul>
                            <li><a href="/index/">Home</a></li>
                            <li><a href="/ask_question/">Ask Question</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget">
                        <h3 class="widget_title">Popular Questions</h3>
                        {% for q in pop2 %}
                        <ul class="related-posts">
                            <li class="related-item">
                                <h3><a href="/question_detail/{{q.id}}">{{q.question_title}}</a></h3>
                                <p style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{q.question_text}}</p>
                                <div class="clear"></div><span>{{q.created_date}}</span>
                            </li>
                        </ul>
                        {%endfor%}
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>

<div class="go-up"><i class="icon-chevron-up"></i></div>


<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../static/js/jquery.easing.1.3.min.js"></script>
<script src="../../static/js/html5.js"></script>
<script src="../../static/js/twitter/jquery.tweet.js"></script>
<script src="../../static/js/jflickrfeed.min.js"></script>
<script src="../../static/js/jquery.inview.min.js"></script>
<script src="../../static/js/jquery.tipsy.js"></script>
<script src="../../static/js/tabs.js"></script>
<script src="../../static/js/jquery.flexslider.js"></script>
<script src="../../static/js/jquery.prettyPhoto.js"></script>
<script src="../../static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../../static/js/jquery.scrollTo.js"></script>
<script src="../../static/js/jquery.nav.js"></script>
<script src="../../static/js/tags.js"></script>
<script src="../../static/js/jquery.bxslider.min.js"></script>
<script src="../../static/js/custom.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


</body>

</html>