{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-9">
		<div class="page-content">
			<div class="boxedtitle page-title"><h2>Edit Profile</h2></div>

			<div class="form-style form-style-4">
				<form method='post' action='#' enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-style form-style-2">
						<div class= "row">
							<div class="col-md-4">
								<img alt="" style="max-width: 100%" width="100%" src="../../static/media/{{ u_profile.profilePic }}">
							</div>
							<div>
								<input type="file" name="myfile">
							    <!-- <button type="submit">Upload</button> -->
							</div>
						</div>
						<!-- <p class="user-profile-p">
							<label>	Profile Picture</label>
							<div class="fileinputs">
								<input type="submit" class="file" name="proPic" value="Upload">
								<div class="fakefile">
									<button type="button" class="button small margin_0">Select file</button>
									<span><i class="icon-arrow-up"></i>Browse</span>
								</div>
							</div>
						<p></p> -->
						<div class="clearfix"></div>
					</div>
					<br>
						<div class="form-inputs clearfix">
							<p>
								<label>First Name</label>
								<input type="text" name ="fname" value={{ u_profile.firstName }}>
							</p>
							<p>
								<label>Last Name</label>
								<input type="text" name ="lname" value={{ u_profile.lastName }}>
							</p>
							<p>
								<label>Phone Number</label>
								<input type="text" name ="phone" value={{ u_profile.phone }}>
							</p>
							<p>
								<label>Website</label>
								<input type="text" name ="website" value={{ u_profile.website }}>
							</p>
							<p>
								<label>Country</label>
								<input type="text" name ="country" value={{ u_profile.country }}>
							</p>
						</div>
						<div class="form-style form-style-2">
							<p>
								<label>About Yourself</label>
								<textarea cols="58" rows="8" name ="about">{{ u_profile.aboutYourself }}</textarea>
							</p>
						</div>
						<div class="form-inputs clearfix">
							<p>
								<label>Facebook</label>
								<input type="text" placeholder="www.facebook.com/example" name ="fb" {% ifnotequal u_profile.facebook '#' %} value={{ u_profile.facebook }} {% endifnotequal %}>
							</p>
							<p>
								<label>Twitter</label>
								<input type="text" placeholder="www.twitter.com/example" name ="twit" {% ifnotequal u_profile.twitter '#' %} value={{ u_profile.twitter }} {% endifnotequal %}>
							</p>
							<p>
								<label>Linkedin</label>
								<input type="text" placeholder="www.linkedin.com/example" name ="link" {% ifnotequal u_profile.linkedin '#' %} value={{ u_profile.linkedin }} {% endifnotequal %}>
							</p>
							<p>
								<label>Github</label>
								<input type="text" placeholder="www.github.com/example" name ="github" {% ifnotequal u_profile.github '#' %} value={{ u_profile.github }} {% endifnotequal %}>
							</p>
						</div>
					<p class="form-submit">
						<input type="submit" value="Update" class="button color small login-submit submit">
					</p>
				</form>
			</div>
		</div><!-- End page-content -->
	</div><!-- End main -->
{% endblock %}