{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="col-md-9">
		<div class="page-content">
			<div class="boxedtitle page-title"><h2>Edit Profile</h2></div>

			<div class="form-style form-style-4">
				<form method='post' action='#'>
					{% csrf_token %}
					<div class="form-style form-style-2">
						<div class="user-profile-img"><img src="../static/images/demo/{{ u_profile.profilePic }}"></div>
						<p class="user-profile-p">
							<label>	Profile Picture</label>
							<div class="fileinputs">
								<input type="file" class="file" name="proPic">
								<div class="fakefile">
									<button type="button" class="button small margin_0">Select file</button>
									<span><i class="icon-arrow-up"></i>Browse</span>
								</div>
							</div>
						<p></p>
						<div class="clearfix"></div>
					</div>
						<div class="form-inputs clearfix">
							<p>
								<label>First Name</label>
								<input type="text" name ="fname" value={{ u_profile.firstName }}>
							</p>
							<p>
								<label>Last Name</label>
								<input type="text" name ="lname" value={{ u_profile.lastName }}>
							</p>
							<p>
								<label>Phone Number</label>
								<input type="text" name ="phone" value={{ u_profile.phone }}>
							</p>
							<p>
								<label>Website</label>
								<input type="text" name ="website" value={{ u_profile.website }}>
							</p>
							<p>
								<label>Country</label>
								<input type="text" name ="country" value={{ u_profile.country }}>
							</p>
						</div>
						<div class="form-style form-style-2">
							<p>
								<label>About Yourself</label>
								<textarea cols="58" rows="8" name ="about">{{ u_profile.aboutYourself }}</textarea>
							</p>
						</div>
						<div class="form-inputs clearfix">
							<p>
								<label>Facebook</label>
								<input type="text" name ="fb">
							</p>
							<p>
								<label>Twitter</label>
								<input type="text" name ="twit">
							</p>
							<p>
								<label>Linkedin</label>
								<input type="email" name ="link">
							</p>
							<p>
								<label>Google plus</label>
								<input type="text" name ="gplus">
							</p>
							<p>
								<label>Github</label>
								<input type="text" name ="github">
							</p>
						</div>
					<p class="form-submit">
						<input type="submit" value="Update" class="button color small login-submit submit">
					</p>
				</form>
			</div>
		</div><!-- End page-content -->
	</div><!-- End main -->
{% endblock %}