{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="col-md-9">

				<div class="tabs-warp question-tab">
		            <ul class="tabs">
		                <li class="tab"><a href="#" class="current">Recent Questions</a></li>
		                <li class="tab"><a href="#">Popular Questions</a></li>
		                <li class="tab"><a href="#">Unsolved Questions</a></li>
		                <li class="tab"><a href="#">Unanswered</a></li>
		            </ul>
		            <div class="tab-inner-warp">
						<div class="tab-inner">
							{% if questions_rq|length == 0 %}
									<article class="question question-type-normal">
										<h2>
											No Questions Asked Yet
										</h2>
									</article>
							{% else %}
								{% for q in questions_rq %}
									<article class="question question-type-normal">
										<h2>
											<a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
										</h2>
										<div class="question-type-main">
												<i class="icon-question-sign"></i>Question
										</div>
										<div class= "row">
											<div class="col-md-offset-2">
												{% for t in tags_all %}
														{% if t.question.id == q.id %}
															<a style="    display: inline-block;
																	    border: 1px solid #E2E2E2;
																	    line-height: 20px;
																	    color: white;
																	    margin: 0 0 5px 0 !important;
																	    padding: 2px 10px;
																	    font-size: 12px !important;
																	    background-color: #2f3239;
																	    -moz-border-radius: 2px;
																	    -webkit-border-radius: 2px;
			   															border-radius: 2px;"
																     href="/tagged/{{t.name}}">{{t.name}}</a>
														{% endif %}
												{% endfor %}
											</div>
										</div>
										<br/>
										<div class="question-author">
												{% for u in all_profile %}
													{% if u.user == q.author %}
														<a href="/viewprofile/{{q.author.id}}" original-title="{{q.author.first_name}}" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/media/{{ u.profilePic }}"></a>
													{% endif %}
												{% endfor %}
										</div>
										<div class="question-inner">
											<div class="clearfix"></div>
											<p class="question-desc" style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{ q.question_text }}</p>
											<div class="question-details">
												<span class="question-answered ">
												{% if q.is_solved = 1 %}
													<span class="question-answered-done">
														<i class="icon-ok"></i>
														solved	
													</span>
												{% else %}
													<span style=" color:#FF0000">
														<i class="icon-remove"></i>
														unsolved
													</span>
												{% endif%}
												</span>

											</div>
											<span class="question-date"><i class="icon-time"></i>{{ q.timeSince }}</span>
											<span class="question-comment"><a><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
											<span class="question-view"><i class="icon-user"></i>{{q.numViews}} views</span>
											<div class="clearfix"></div>
										</div>
									</article>
								{% endfor %}
							{% endif %}
					    </div>
					</div>
					<div class="tab-inner-warp">
						<div class="tab-inner">
						{% if questions_rq|length == 0 %}
									<article class="question question-type-normal">
										<h2>
											No Questions Asked Yet
										</h2>
									</article>
							{% else %}
								{% for q in questions_ma %}
								<article class="question question-type-normal">
									<h2>
										<a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
									</h2>
									<div class="question-type-main">
											<i class="icon-question-sign"></i>Question
									</div>
									<div class= "row">
											<div class="col-md-offset-2">
												{% for t in tags_all %}
														{% if t.question.id == q.id %}
															<a style="    display: inline-block;
																	    border: 1px solid #E2E2E2;
																	    line-height: 20px;
																	    color: white;
																	    margin: 0 0 5px 0 !important;
																	    padding: 2px 10px;
																	    font-size: 12px !important;
																	    background-color: #2f3239;
																	    -moz-border-radius: 2px;
																	    -webkit-border-radius: 2px;
			   															border-radius: 2px;"
																     href="tagged/{{t.name}}">{{t.name}}</a>
														{% endif %}
												{% endfor %}
											</div>
										</div>
										<br/>
									<div class="question-author">
										{% for u in all_profile %}
												{% if u.user == q.author %}
													<a href="/viewprofile/{{q.author.id}}" original-title="{{q.author.first_name}}" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/media/{{ u.profilePic }}"></a>
												{% endif %}
										{% endfor %}
									</div>
									<div class="question-inner">
										<div class="clearfix"></div>
										<p style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;" class="question-desc">{{ q.question_text|linebreaksbr}}...</p>
										<div class="question-details">
											<span class="question-answered ">
											{% if q.is_solved = 1 %}
												<span class="question-answered-done">
													<i class="icon-ok"></i>
													solved	
												</span>
											{% else %}
												<span style=" color:#FF0000">
													<i class="icon-remove"></i>
													unsolved
												</span>
											{% endif%}
											</span>
										</div>
										<span class="question-date"><i class="icon-time"></i>{{ q.timeSince }}</span>
										<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
										<span class="question-view"><i class="icon-user"></i>{{q.numViews}} views</span>
										<div class="clearfix"></div>
									</div>
								</article>
								{% endfor %}
							{% endif %}
					    </div>
					</div>
					<div class="tab-inner-warp">
						<div class="tab-inner">
							{% if questions_rq|length == 0 %}
									<article class="question question-type-normal">
										<h2>
											No Questions Asked Yet
										</h2>
									</article>
							{% else %}
								{% for q in questions_ra %}
								<article class="question question-type-normal">
									<h2>
										<a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
									</h2>
									<div class="question-type-main">
											<i class="icon-question-sign"></i>Question
									</div>
									<div class= "row">
											<div class="col-md-offset-2">
												{% for t in tags_all %}
														{% if t.question.id == q.id %}
															<a style="    display: inline-block;
																	    border: 1px solid #E2E2E2;
																	    line-height: 20px;
																	    color: white;
																	    margin: 0 0 5px 0 !important;
																	    padding: 2px 10px;
																	    font-size: 12px !important;
																	    background-color: #2f3239;
																	    -moz-border-radius: 2px;
																	    -webkit-border-radius: 2px;
			   															border-radius: 2px;"
																     href="tagged/{{t.name}}">{{t.name}}</a>
														{% endif %}
												{% endfor %}
											</div>
										</div>
										<br/>
									<div class="question-author">
										{% for u in all_profile %}
												{% if u.user == q.author %}
													<a href="/viewprofile/{{q.author.id}}" original-title="{{q.author.first_name}}" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/media/{{ u.profilePic }}"></a>
												{% endif %}
										{% endfor %}
									</div>
									<div class="question-inner">
										<div class="clearfix"></div>
										<p class="question-desc" style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{ q.question_text|linebreaksbr }}...</p>
										<div class="question-details">
											<span class="question-answered ">
											{% if q.is_solved = 1 %}
												<span class="question-answered-done">
													<i class="icon-ok"></i>
													solved	
												</span>
											{% else %}
												<span style=" color:#FF0000">
													<i class="icon-remove"></i>
													unsolved
												</span>
											{% endif%}
											</span>
										</div>
										<span class="question-date"><i class="icon-time"></i>{{ q.timeSince }}</span>
										<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
										<span class="question-view"><i class="icon-user"></i>{{q.numViews}} views</span>
										<div class="clearfix"></div>
									</div>
								</article>
								{% endfor %}
							{% endif %}
					    </div>
					</div>
					<div class="tab-inner-warp">
						<div class="tab-inner">
							{% if questions_rq|length == 0 %}
									<article class="question question-type-normal">
										<h2>
											No Questions Asked Yet
										</h2>
									</article>
							{% else %}
								{% for q in questions_na %}
								<article class="question question-type-normal">
									<h2>
										<a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
									</h2>
									<div class="question-type-main">
											<i class="icon-question-sign"></i>Question
									</div>
									<div class= "row">
											<div class="col-md-offset-2">
												{% for t in tags_all %}
														{% if t.question.id == q.id %}
															<a style="    display: inline-block;
																	    border: 1px solid #E2E2E2;
																	    line-height: 20px;
																	    color: white;
																	    margin: 0 0 5px 0 !important;
																	    padding: 2px 10px;
																	    font-size: 12px !important;
																	    background-color: #2f3239;
																	    -moz-border-radius: 2px;
																	    -webkit-border-radius: 2px;
			   															border-radius: 2px;"
																     href="tagged/{{t.name}}">{{t.name}}</a>
														{% endif %}
												{% endfor %}
											</div>
										</div>
										<br/>
									<div class="question-author">
										{% for u in all_profile %}
												{% if u.user == q.author %}
													<a href="/viewprofile/{{q.author.id}}" original-title="{{q.author.first_name}}" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/media/{{ u.profilePic }}"></a>
												{% endif %}
										{% endfor %}
									</div>
									<div class="question-inner">
										<div class="clearfix"></div>
										<p class="question-desc" style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{ q.question_text|linebreaksbr }} ...</p>
										<div class="question-details">
											<span class="question-answered ">
											{% if q.is_solved = 1 %}
												<span class="question-answered-done">
													<i class="icon-ok"></i>
													solved	
												</span>
											{% else %}
												<span style=" color:#FF0000">
													<i class="icon-remove"></i>
													unsolved
												</span>
											{% endif%}
											</span>
										</div>
										<span class="question-date"><i class="icon-time"></i>{{ q.timeSince }}</span>
										<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
										<span class="question-view"><i class="icon-user"></i>{{q.numViews}} views</span>
										<div class="clearfix"></div>
									</div>
								</article>
								{% endfor %}
							{% endif %}
					    </div>
					</div>
		        </div>
			</div>
{% endblock %}


<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../static/js/jquery.easing.1.3.min.js"></script>
<script src="../../static/js/html5.js"></script>
<script src="../../static/js/twitter/jquery.tweet.js"></script>
<script src="../../static/js/jflickrfeed.min.js"></script>
<script src="../../static/js/jquery.inview.min.js"></script>
<script src="../../static/js/jquery.tipsy.js"></script>
<script src="../../static/js/tabs.js"></script>
<script src="../../static/js/jquery.flexslider.js"></script>
<script src="../../static/js/jquery.prettyPhoto.js"></script>
<script src="../../static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="../../static/js/jquery.scrollTo.js"></script>
<script src="../../static/js/jquery.nav.js"></script>
<script src="../../static/js/tags.js"></script>
<script src="../../static/js/jquery.bxslider.min.js"></script>
<script src="../../static/js/custom.js"></script>
