{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% if request.user.is_authenticated %}
<script type='text/javascript'>
 function c(a_id) {
 	var text = document.getElementById('reply-'+a_id).value;
 	$.ajax({
 		url: '/reply_ajax/{{ question.id }}/',
 		type: 'POST',
 		dataType: "json",
 		data: {
 			"value": decodeURIComponent(text),
 			"ans_id" : a_id,
 			"csrfmiddlewaretoken" : '{{csrf_token}}'
 		},
 		success: function (data) {
 			var all = data.created_date.split('T');
 			d = all[0];
 			t = all[1];
 			t = t.split('.')[0];
 			t = t.split(':');
 			
 			time = t[0]+':'+t[1]
 			if(t[0]>=12)
 			{
 				time+=' p.m.'
 			}
 			else
 			{
 				time+=' a.m.'
 			}
 			date=new Date(d);
 			dates=""+date;
 			date = dates.split(' ');
 			d = date[1] + '. ' + date[2] + ', ' + date[3] + ', ';
 			created_date=d+time
 			pic=data.pic.split('/');
 			console.log(pic)
 			pic=pic[pic.length-1];
 			console.log(pic)
 			var li = document.createElement(li)
 			li.innerHTML = '<li class="comment"><div class="comment-body clearfix"><div class="avatar"><img alt="" src="../../static/media/'+pic+'"></div><div class="comment-text"><div class="author clearfix"><div class="comment-author"><a href="#">'+data.name+'</a></div><div class="comment-meta"><div class="date"><i class="icon-time"></i>'+created_date+'</div></div></div><div class="text"><p>'+data.text+'</p></div></div></div></li>';
 			document.getElementById('comment-'+a_id).append(li)
 		}

 	});
 	document.getElementById('reply-'+a_id).value = null;
 }
 var flag=0;
	function solve(a_id,q_id)
	{
		$.ajax({
				url: '/bestanswer/'+a_id,
				type: 'POST',
				data: {
					"ques_id" : q_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					console.log(data);
					document.getElementById('status').innerHTML = '<span class="question-answered-done"><i class="icon-ok"></i>solved</span>';
				}

			});
		$('#the-button').hide();
	}
	function vote(action,a_id)
	{
		if(action=="up")
		{
			$.ajax({
				url: '/countUp/'+a_id,
				type: 'POST',
				data: {
					"ans_id" : a_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					console.log(data);
					document.getElementById('votes-'+a_id).innerHTML = data.votes;
				}

			});
		}
		else if (action=="down")
		{
			$.ajax({
				url: '/countDown/'+a_id,
				type: 'POST',
				data: {
					"ans_id" : a_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					document.getElementById('votes-'+a_id).innerHTML = data.votes;
				}

			});
		}
	}
</script>
{% else %}
<script type="text/javascript">

	function c(a_id) {
	locationtion.href="/login/"
}
	function vote(action, a_id) {
	locationtion.href="/login/"
}

</script>

{% endif %}

<div class="col-md-9">
	<div class="about-author clearfix">
		<div class="author-image">
			<a href="/viewprofile/{{profile_q.user.id}}" original-title="{{profile_q.firstName}}" class="question-author-img tooltip-n"><img alt="" src="../../static/media/{{ showUser.profilePic }}"></a>
		</div>
		<div class="author-bio">
			<br>
			<h3 >Question asked by </h3>
			<a href="/viewprofile/{{ question.author.id }}">
				<h4 style="color: #c2c2d6;">{{ question.author.username }} - {{ question.author.first_name }} {{ question.author.last_name }}</h4>
			</a>
		</div>
	</div>
	<article class="question question-type-normal">
		<h2 style="margin-left: 2%;">
			<a href="/question_detail/{{ question.id }}">{{ question.question_title }}</a>
		</h2>
		<div class="question-type-main">
				<i class="icon-question-sign"></i>Question
		</div>
		<div class="question-inner" style="margin-left: 2%;">
			<div class="clearfix"></div>
			<p class="question-desc">{{ question.question_text|linebreaksbr }}</p>
			<div class="question-details">
				<span class="question-answered ">
				{% if question.is_solved = 1 %}
					<span class="question-answered-done">
						<i class="icon-ok"></i>
						solved	
					</span>
				{% else %}
					<span id="status" style=" color:#FF0000">
						<i class="icon-remove"></i>
						unsolved
					</span>
				{% endif%}
				</span>
			</div>
			<span class="question-date"><i class="icon-time"></i>{{ question.timeSince }}</span>
			<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ question.numAns }} Answers</a></span>
			<span class="question-view"><i class="icon-user"></i>{{question.numViews}} views</span>
			<div class="clearfix"></div>
		</div>
	</article>

	<div id="commentlist" class="page-content">
		<div class="boxedtitle page-title"><h2>Answers (<span class="color">{{ answers|length }}</span>)</h2></div>
		<ol class="commentlist clearfix">
			{% for ans in answers %}
			<li class="comment">
				<div class="comment-body comment-body-answered clearfix">
					{% for pro in all_profile %}
		        		{% if ans.author.username = pro.username %}
		        			
		            			<div class="avatar">
		            				<a href="/viewprofile/{{ans.author.id}}" original-title="{{ans.author.first_name}}" class="question-author-img tooltip-n">
		            					<span></span>
		            					<img alt="" src="../../static/media/{{ pro.profilePic }}">
		            				</a>
		            			</div>
		            		
		        		{% endif %}
		            {% endfor %}
					<div class="comment-text">
						<div class="author clearfix">
							<div class="comment-author"><a href="#">{{ ans.author.username }}</a></div>
							
								{% if request.user.username %}
								<div class="comment-vote">
									<ul class="question-vote">
										<li class="question-vote-up" title="Like" onclick="vote('up',{{ ans.id }})"></li>
										<li class="question-vote-down" title="Dislike" onclick="vote('down',{{ ans.id }})"></li>
									</ul>
								</div>
								<span class="question-vote-result" id="votes-{{ans.id}}">{{ ans.avotes }}</span>
								{% else %}
									{% if ans.avotes > 0 %}
										<span class="question-vote-result" id="votes-{{ans.id}}" style="color:green;">+{{ ans.avotes }} Votes </span>
									{% else %}
										<span class="question-vote-result" id="votes-{{ans.id}}" style="color:red;">{{ ans.avotes }} Votes</span>
									{% endif %}
								{% endif %}
							<div class="comment-meta">
								<div class="date"><i class="icon-time"></i>{{ ans.timeSince }}</div>
							</div>
							<div class="question-type-main" style="background-color: #008066;top: 20px; right: 0.2%;">
									<i class="icon-pencil"></i>Answer
							</div>
								{% if question.author.username == request.user.username %}
									{% if question.is_solved == 0 %}
									<button id="the-button" href="#" onclick="solve( {{ans.id}},{{question.id}} )" style=";margin-left: 86.9%; background-color: #ff7361">Best Answer</button>
									{% endif %}
								{% endif %}
								{% if question.is_solved == 1 %}
									{% if ans.bestAnswer == 1 %}
									
										<p style="font-size: 30px;margin-top: 5%;margin-left: 92%;color: #ff7361;"><i class="icon-star"></i></p>
									{% else %}
										<p style="font-size: 30px;margin-top: 5%;margin-left: 92%;color: #ff7361;">
											<br>
										</p>	
									{% endif %}
								{% endif %}
						</div>
						<div class="text"><p>{{ ans.answer_text|linebreaks }}</p>
						</div>
					</div>
				</div>
				<ul class="children" id = "comment-{{ans.id}}">
					{% for comment in comments %}
					{% if comment|length != 0 %}
					{% for c in comment %}
					{% if c.answer.id == ans.id %}
					<li class="comment">
						<div class="comment-body clearfix">
							{% for pro in all_profile %}
		                		{% if c.author.username = pro.username %}
		                			<div class="avatar">
			                			<a href="/viewprofile/{{pro.user.id}}" original-title="{{pro.firstName}}" class="question-author-img tooltip-n">
			                				<img alt="" src="../../static/media/{{ pro.profilePic }}">
		                			</div>
		                    	{% endif %}
		                    {% endfor %}
							<div class="comment-text">
								<div class="author clearfix">
									<div class="comment-author"><a href="#">{{ c.author.username }}</a></div>
									<div class="comment-meta">
										<div class="date"><i class="icon-time"></i>{{ c.timeSince }}</div>
									</div>
									<div class="question-type-main" style="background-color: #004d99; top: 20px; right: 0.2%;">
											<i class="icon-comments-alt"></i>Comment
									</div>
								</div>
								<div class="text"><p>{{ c.comment_text }}</p>
								</div>
							</div>
						</div>
					</li>
					{% endif %}
					{% endfor %}
					{% endif%}
					{% endfor %}
				</ul>
				


				<div class="row" width="100%">
					<div class="col-md-8 col-md-offset-1">
						<input type="text" style="width: 100%;" placeholder="Comment on this answer" name="comment"  id="reply-{{ans.id}}">
					</div>
					<div class="col-md-3">
						<p class="form-submit">
							<button class="button small color" style="height: 39.8px;" onclick="c( {{ ans.id }} )">Submit</button>
						</p>

					</div>
				</div>
						</li>
						{% endfor %}
					</ol>
				</div>






				<div id="respond" class="comment-respond page-content clearfix">

					<div class="boxedtitle page-title"><h2>Post An Answer : </h2></div>
					<form action="#" method="post" id="commentform" class="comment-form">
						{% csrf_token %}
						<div id="respond-textarea">
							<p>
								<label class="required" for="comment">Your Answer<span>*</span></label>
								<textarea id="comment" name="answer" aria-required="true" cols="58" rows="8"></textarea>
							</p>
						</div>
						<p class="form-submit">
							<input name="answer-submit" type="submit" id="submit" value="Post your answer" class="button small color">
						</p>
					</form>
				</div>
				<br>
				{% if related|length != 0 %}
				<div id="related-posts">
					<h2>Related questions</h2>
					<ul class="related-posts">
						{% for q in related %}
						<li class="related-item"><h3><a href="/question_detail/{{ q.id }}"><i class="icon-double-angle-right"></i>{{ q.question_title }}</a></h3></li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>

			{% endblock %}