{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


{% if user.is_authenticated %}
<script type='text/javascript'>
 function c(a_id) {
 	var text = document.getElementById('reply-'+a_id).value;
 	// console.log(text);

 	$.ajax({
 		url: '/reply_ajax/{{ question.id }}/',
 		type: 'POST',
 		dataType: "json",
 		data: {
 			"value": decodeURIComponent(text),
 			"ans_id" : a_id,
 			"csrfmiddlewaretoken" : '{{csrf_token}}'
 		},
 		success: function (data) {
 			var all = data.created_date.split('T');
 			d = all[0];
 			t = all[1];
 			t = t.split('.')[0];
 			t = t.split(':');
 			
 			time = t[0]+':'+t[1]
 			if(t[0]>=12)
 			{
 				time+=' p.m.'
 			}
 			else
 			{
 				time+=' a.m.'
 			}
 			console.log(time);
 			date=new Date(d);
 			dates=""+date;
 			date = dates.split(' ');
 			d = date[1] + '. ' + date[2] + ', ' + date[3] + ', ';
 			console.log(d);
 			// edit the time format to Oct 1, 2017, 11:22 a.m. and itll fall in its place
 			// if no comments presentt it doesnt append
 			created_date=d+time
 			console.log(data.created_date);
 			pic=data.pic.split('/');
 			console.log(pic[6]);
 			pic=pic[6];
 			var li = document.createElement(li)
 			li.innerHTML = '<li class="comment"><div class="comment-body clearfix"><div class="avatar"><img alt="" src="../../static/images/demo/'+pic+'"></div><div class="comment-text"><div class="author clearfix"><div class="comment-author"><a href="#">'+data.name+'</a></div><div class="comment-meta"><div class="date"><i class="icon-time"></i>'+created_date+'</div></div></div><div class="text"><p>'+data.text+'</p></div></div></div></li>';
 			document.getElementById('comment-'+a_id).append(li)
 		}

 	});
 	document.getElementById('reply-'+a_id).value = null;
 }
</script>
{% else %}
<script type="text/javascript">

	function c(a_id) {
	locationtion.href="/login/"
}
</script>
{% endif %}

<script type="text/javascript">
	var flag=0;
	function solve(a_id,q_id)
	{
		$.ajax({
				url: '/bestanswer/'+a_id,
				type: 'POST',
				data: {
					"ques_id" : q_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					console.log(data);
					document.getElementById('status').innerHTML = "solved";
					document.getElementById('status').css = "color : 'green'";
				}

			});
	}
	function vote(action,a_id)
	{
		if(action=="up")
		{
			$.ajax({
				url: '/countUp/'+a_id,
				type: 'POST',
				data: {
					"ans_id" : a_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					console.log(data);
					document.getElementById('votes-'+a_id).innerHTML = data.votes;
				}

			});
		}
		else if (action=="down")
		{
			$.ajax({
				url: '/countDown/'+a_id,
				type: 'POST',
				data: {
					"ans_id" : a_id,
		 			"csrfmiddlewaretoken" : '{{csrf_token}}'
				},
				success: function (data) {
					document.getElementById('votes-'+a_id).innerHTML = data.votes;
				}

			});
		}
	}
</script>

<div class="col-md-9">
	<div class="about-author clearfix">
		<div class="author-image">
			<a href="#" original-title="admin" class="tooltip-n"><img alt="" src="../../static/images/demo/{{ profile_q.profilePic }}"></a>
		</div>
<!-- 		{% if request.user.username == showuser.username %}
			<a href="/edit/" style="margin-left: 70%">Edit 	<i class="icon-pencil"></i></a>
		{% endif %} -->

		<div class="author-bio">
			<br>
			<h3 >Question asked by </h3>
			<h4 style="color: #c2c2d6;">{{ question.author.username }} - {{ question.author.first_name }} {{ question.author.last_name }}</h4>
		</div>
	</div><!-- End about-author -->
	<article class="question question-type-normal">
		<h2 style="margin-left: 2%;">
			<a href="/question_detail/{{ question.id }}">{{ question.question_title }}</a>
		</h2>
		<div class="question-type-main">
				<i class="icon-question-sign"></i>Question
		</div>
		<div class="question-inner" style="margin-left: 2%;">
			<div class="clearfix"></div>
			<p class="question-desc">{{ question.question_text }}</p>
			<div class="question-details">
				<span class="question-answered question-answered-done" id="status">
					{% if question.is_solved == 0 %}
						unsolved
					{% else %}
						solved
					{% endif %}
				</span>
			</div>
			<span class="question-date"><i class="icon-time"></i>{{ question.created_date }}</span>
			<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ question.numAns }} Answers</a></span>
			<span class="question-view"><i class="icon-user"></i>{{question.numViews}} views</span>
			<div class="clearfix"></div>
		</div>
	</article>

	<div id="commentlist" class="page-content">
		<div class="boxedtitle page-title"><h2>Answers (<span class="color">{{ answers|length }}</span>)</h2></div>
		<ol class="commentlist clearfix">
			{% for ans in answers %}
			<li class="comment">
				<div class="comment-body comment-body-answered clearfix">
					{% for pro in all_profile %}
		        		{% if ans.author.username = pro.username %}
		            		<div class="avatar"><img alt="" src="../../static/images/demo/{{ pro.profilePic }}"></div>
		        		{% endif %}
		            {% endfor %}
					<div class="comment-text">
						<div class="author clearfix">
							<div class="comment-author"><a href="#">{{ ans.author.username }}</a></div>
							<div class="comment-vote">
								<ul class="question-vote">
									<li class="question-vote-up" title="Like" onclick="vote('up',{{ ans.id }})"></li>
									<li class="question-vote-down" title="Dislike" onclick="vote('down',{{ ans.id }})"></li>
								</ul>
							</div>
							<span class="question-vote-result" id="votes-{{ans.id}}">{{ ans.avotes }}</span>
							<div class="comment-meta">
								<div class="date"><i class="icon-time"></i>{{ ans.created_date   }} - {{  question.created_date|timesince:ans.created_date   }}</div>
							</div>
							<div class="question-type-main" style="background-color: #008066;top: 20px; right: 0.2%;">
									<i class="icon-pencil"></i>Answer
							</div>
								{% if question.author.username == request.user.username %}
									{% if question.is_solved == 0 %}
									<button href="#" onclick="solve( {{ans.id}},{{question.id}} )" style=";margin-left: 86.9%; background-color: #ff7361">Best Answer</button>
									{% endif %}
								{% endif %}
						</div>
						<div class="text"><p>{{ ans.answer_text }}</p>
						</div>
					</div>
				</div>
				<ul class="children" id = "comment-{{ans.id}}">
					{% for comment in comments %}
					{% if comment|length != 0 %}
					{% for c in comment %}
					{% if c.answer.id == ans.id %}
					<li class="comment">
						<div class="comment-body clearfix">
							{% for pro in all_profile %}
		                		{% if c.author.username = pro.username %}
		                			<div class="avatar"><img alt="" src="../../static/images/demo/{{ pro.profilePic }}"></div>
		                    	{% endif %}
		                    {% endfor %}
							<div class="comment-text">
								<div class="author clearfix">
									<div class="comment-author"><a href="#">{{ c.author.username }}</a></div>
									<div class="comment-meta">
										<div class="date"><i class="icon-time"></i>{{ c.created_date }}</div>
									</div>
									<div class="question-type-main" style="background-color: #004d99; top: 20px; right: 0.2%;">
											<i class="icon-comments-alt"></i>Comment
									</div>
								</div>
								<div class="text"><p>{{ c.comment_text }}</p>
								</div>
							</div>
						</div>
					</li>
					{% endif %}
					{% endfor %}
					{% endif%}
					{% endfor %}
				</ul>
				


				<div class="row" width="100%">
					<div class="col-md-8 col-md-offset-1">
						<input type="text" style="width: 100%;" placeholder="Comment on this answer" name="comment"  id="reply-{{ans.id}}">
					</div>
					<div class="col-md-3">
						<p class="form-submit">
							<button class="button small color" style="margin-top:-4%; margin-bottom: -4%;" onclick="c( {{ ans.id }} )">Submit</button>
						</p>

					</div>
				</div>
						</li>
						{% endfor %}
					</ol>
				</div>






				<div id="respond" class="comment-respond page-content clearfix">

					<div class="boxedtitle page-title"><h2>Post An Answer : </h2></div>
					<form action="#" method="post" id="commentform" class="comment-form">
						{% csrf_token %}
						<div id="respond-textarea">
							<p>
								<label class="required" for="comment">Your Answer<span>*</span></label>
								<textarea id="comment" name="answer" aria-required="true" cols="58" rows="8"></textarea>
							</p>
						</div>
						<p class="form-submit">
							<input name="answer-submit" type="submit" id="submit" value="Post your answer" class="button small color">
						</p>
					</form>
				</div>
				<br>
				<div id="related-posts">
					<h2>Related questions</h2>
					<ul class="related-posts">
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This Is My Second Poll Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my third Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my fourth Question</a></h3></li>
						<li class="related-item"><h3><a href="#"><i class="icon-double-angle-right"></i>This is my fifth Question</a></h3></li>
					</ul>
				</div><!-- End related-posts -->

			</div><!-- End main -->

			{% endblock %}