{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript">
        function a() {
            location.href = '/ask_question/'
        }
    </script>

    <div class="col-md-9">
        <h2> Search results for "{{ s }}"</h2>
        <h4 style="color:gray;font-size: 14px;">{{ questions_tt|length }} matches</h4>
        <div class="tabs-warp question-tab">
            <div class="tab-inner-warp">
                <div class="tab-inner">
                    <h2></h2>
                    {% for q in questions_tt %}
                    <article class="question question-type-normal">
                        <h2>
                            <a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
                        </h2>
                        <div class="question-type-main">
                                <i class="icon-question-sign"></i>Question
                        </div>
                        <div class="question-author">
                            <a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="static/images/demo/avatar.png"></a>
                        </div>
                        <div class="question-inner">
                            <div class="clearfix"></div>
                            <p class="question-desc">{{ q.question_text }}</p>
                            <div class="question-details">
                                <span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
                            </div>
                            <span class="question-date"><i class="icon-time"></i>{{ q.created_date }}</span>
                            <span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
                            <span class="question-view"><i class="icon-user"></i>{{ q.numViews }} views</span>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        <h3> Not what you looking for? Ask this as a question
        <button class="button small color" style="margin-left: 5%;" onclick="a()">Submit</button> </h3>
    </div>
{% endblock %}