{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <script type="text/javascript">
        function a() {
            location.href = '/ask_question/'
        }
    </script>
    {% ifnotequal s  "" %}
        <div class="col-md-9">
            <h2> Search results for "{{ s }}"</h2>
            <h4 style="color:gray;font-size: 14px;">{{ questions_tt|length }} matches</h4>
            <div class="tabs-warp question-tab">
                <div class="tab-inner-warp">
                    <div class="tab-inner">
                        <h2></h2>
                        {% for q in questions_tt %}
                        <article class="question question-type-normal">
                            <h2>
                                <a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
                            </h2>
                            <div class="question-type-main">
                                    <i class="icon-question-sign"></i>Question
                            </div>
                            <div class= "row">
                                            <div class="col-md-offset-2">
                                                {% for t in tags_all %}
                                                        {% if t.question.id == q.id %}
                                                            <a style="    display: inline-block;
                                                                        border: 1px solid #E2E2E2;
                                                                        line-height: 20px;
                                                                        color: white;
                                                                        margin: 0 0 5px 0 !important;
                                                                        padding: 2px 10px;
                                                                        font-size: 12px !important;
                                                                        background-color: #2f3239;
                                                                        -moz-border-radius: 2px;
                                                                        -webkit-border-radius: 2px;
                                                                        border-radius: 2px;"
                                                                     href="/tagged/{{t.name}}">{{t.name}}</a>
                                                        {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <br>
                            <div class="question-author">
                                {% for prosearch in allprofile %}
                                    {% if q.author.username = prosearch.username %}
                                        <!-- <h1>hi</h1> -->
                                        <a href="/viewprofile/{{q.author.id}}" original-title="{{q.author.first_name}}" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/media/{{ prosearch.profilePic }}"></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="question-inner">
                                <div class="clearfix"></div>
                                <p class="question-desc" style=" overflow: hidden;text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;-webkit-box-orient: vertical;">{{ q.question_text|linebreaksbr }}</p>
                                <div class="question-details">
                                    <span class="question-answered">
                                        {% if q.is_solved = 1 %}
                                                <span class="question-answered-done">
                                                    <i class="icon-ok"></i>
                                                    solved  
                                                </span>
                                            {% else %}
                                                <span style=" color:#FF0000">
                                                    <i class="icon-remove"></i>
                                                    unsolved
                                                </span>
                                            {% endif%}
                                </div>
                                <span class="question-date"><i class="icon-time"></i>{{ q.timeSince }}</span>
                                <span class="question-comment"><a><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
                                <span class="question-view"><i class="icon-user"></i>{{ q.numViews }} views</span>
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <h3> Not what you looking for? <a href="/ask_question/"><u>Ask this as a question</u></a>
        </div>
    {% else %}
        <script type="text/javascript">
            location.href = '/index/';
        </script>
    {% endifnotequal %}
{% endblock %}