{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
			<div class="col-md-9">
				<div class="row">
					<div class="user-profile">
						<div class="col-md-12">
							<div class="page-content">
								<h2>About {{ showuser.firstName }} {{ showuser.lastName }}</h2>
								<h1>{{showuser.profilePic}}</h1>
								<div class="user-profile-img"><img width="60" height="60" src="../static/images/demo/{{ showUser.profilePic }}"></div>
								<a href="/edit/">Edit</a>
								<div class="ul_list ul_list-icon-ok about-user">
									<ul>
										<li><i class="icon-plus"></i>Registered : <span>{{ showUser.regDate }}</span></li>
										<li><i class="icon-map-marker"></i>Country : <span>{{ showUser.country }}</span></li>
										<li><i class="icon-globe"></i>Website : <a target="_blank" href="https://2code.info/">{{ showUser.website }}</a></li>
										<li><i class="icon-trophy"></i>Points : <a target="_blank" href="https://2code.info/">{{ showUser.points }}</a></li>
									</ul>
								</div>
								<p>{{showUser.aboutYourself}}</p>
								<div class="clearfix"></div>
								<span class="user-follow-me">Follow Me</span>
								<a href="#" original-title="Facebook" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#3b5997" span_hover="#2f3239">
											<i class="social_icon-facebook"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Twitter" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#00baf0" span_hover="#2f3239">
											<i class="social_icon-twitter"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Linkedin" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#006599" span_hover="#2f3239">
											<i class="social_icon-linkedin"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Google plus" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#c43c2c" span_hover="#2f3239">
											<i class="social_icon-gplus"></i>
										</span>
									</span>
								</a>
								<a href="#" original-title="Email" class="tooltip-n">
									<span class="icon_i">
										<span class="icon_square" icon_size="30" span_bg="#000" span_hover="#2f3239">
											<i class="social_icon-email"></i>
										</span>
									</span>
								</a>
							</div><!-- End page-content -->
						</div><!-- End col-md-12 -->
						<div class="col-md-12">
							<div class="page-content page-content-user-profile">
								<div class="user-profile-widget">
									<h2>Your Contributions</h2>
									<div class="tabs-warp question-tab">
							            <ul class="tabs">
							                <li class="tab"><a href="#" class="current">Questions ({{u_questions_all|length}})</a></li>
							                <li class="tab"><a href="#">Answers ({{u_answers_all|length}})</a></li>
							                <li class="tab"><a href="#">Comments ({{u_comments_all|length}})</a></li>
							            </ul>
							            <div class="tab-inner-warp">
											<div class="tab-inner">
												{% for q in u_questions_all %}
												<article class="question question-type-normal">
													<h2>
														<a href="/question_detail/{{ q.id }}">{{ q.question_title }}</a>
													</h2>
													<div class="question-author">
														{% for proques in allprofile %}
															{% if q.author.username = proques.username %}
																<a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/images/demo/{{ proques.profilePic }}"></a>
															{% endif %}
														{% endfor %}
													</div>
													<div class="question-inner">
														<div class="clearfix"></div>
														<p class="question-desc">{{ q.question_text }}</p>
														<div class="question-details">
															<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
														</div>
														<span class="question-date"><i class="icon-time"></i>{{ q.created_date }}</span>
														<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ q.numAns }} Answers</a></span>
														<span class="question-view"><i class="icon-user"></i>{{q.numViews}} views</span>
														<div class="clearfix"></div>
													</div>
												</article>
												{% endfor %}
										    </div>
										</div>
										<div class="tab-inner-warp">
											<div class="tab-inner">
												{% for ans in u_answers_all %}
													{% for question in u_answers_all_q %}
														{% if question.id = ans.question.id %}
															<article class="question question-type-normal">
																<h2>
																	<a href="/question_detail/{{ question.id }}">{{ question.question_title }}</a>
																</h2>
																<div class="question-author">
																	{% for proques in allprofile %}
																		{% if proques.username = question.author.username %}
																			<a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/images/demo/{{proques.profilePic}}"></a>
																		{% endif %}
																	{% endfor %}
																</div>
																<div class="question-inner">
																	<div class="clearfix"></div>
																	<p class="question-desc">{{ question.question_text }}</p>
																	<div class="question-details">
																		<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
																	</div>
																	<span class="question-date"><i class="icon-time"></i>{{ question.created_date }}</span>
																	<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ question.numAns }} Answers</a></span>
																	<span class="question-view"><i class="icon-user"></i>{{question.numViews}} views</span>
																	<div class="clearfix"></div>
																</div>
															</article>
														{% endif %}
													{% endfor %}
													<div id="commentlist" class="page-content">

														<ol class="commentlist clearfix">
														    <li class="comment">
														        <div class="comment-body comment-body-answered clearfix">
														            <div class="avatar">
														            	{% for proans in allprofile %}
																			{% if ans.author.username = proans.username %}
												            					<img alt="" src="../../static/images/demo/{{proans.profilePic}}">
												            				{% endif %}
												            			{% endfor %}
														            </div>
														            <div class="comment-text">
														                <div class="author clearfix">
														                	<div class="comment-author"><a href="#">{{ ans.author.username }}</a></div>
														                	<div class="comment-vote">
															                	<ul class="question-vote">
															                		<li><a href="/countUp/{{ question.id }}/{{ ans.id }}" class="question-vote-up" title="Like"></a></li>
															                		<li><a href="/countDown/{{ question.id }}/{{ ans.id }}" class="question-vote-down" title="Dislike"></a></li>
															                	</ul>
														                	</div>
														                	<span class="question-vote-result">{{ ans.avotes }}</span>
														                	<div class="comment-meta">
														                        <div class="date"><i class="icon-time"></i>{{ ans.created_date   }} - {{  question.created_date|timesince:ans.created_date   }}</div>
														                    </div>
														                </div>
														                <div class="text"><p>{{ ans.answer_text }}</p>
														                </div>
														            </div>
														        </div>
														    </li>
														</ol>
													</div>
												{% endfor %}
											</div>
										</div>
										<div class="tab-inner-warp">
											<div class="tab-inner">
												{% for c in u_comments_all_q %}
													<article class="question question-type-normal">
														<h2>
															<a href="/question_detail/{{ c.id }}">{{ c.question_title }}</a>
														</h2>
														<div class="question-author">
															{% for proques in allprofile %}
																{% if proques.username = c.author.username %}
																	<a href="#" original-title="ahmed" class="question-author-img tooltip-n"><span></span><img alt="" src="../../static/images/demo/{{ proques.profilePic }}"></a>
																{% endif %}
															{% endfor %}
														</div>
														<div class="question-inner">
															<div class="clearfix"></div>
															<p class="question-desc">{{ c.question_text }}</p>
															<div class="question-details">
																<span class="question-answered question-answered-done"><i class="icon-ok"></i>solved</span>
															</div>
															<span class="question-date"><i class="icon-time"></i>{{ c.created_date }}</span>
															<span class="question-comment"><a href="#"><i class="icon-comment"></i>{{ c.numAns }} Answers</a></span>
															<span class="question-view"><i class="icon-user"></i>{{c.numViews}} views</span>
															<div class="clearfix"></div>
														</div>
													</article>
												<div id="commentlist" class="page-content">
													<ol class="commentlist clearfix">
													    {% for ans in u_comments_all_a %}
														    {% if ans.question.id = c.id %}
															    <li class="comment">
															        <div class="comment-body comment-body-answered clearfix">
															            <div class="avatar">
															            	{% for proans in allprofile %}
															            		{% if proans.username = ans.author.username %}
															            			<img alt="" src="../../static/images/demo/{{ proans.profilePic }}">
															            		{% endif %}
															            	{% endfor %}
															            </div>
															            <div class="comment-text">
															                <div class="author clearfix">
															                	<div class="comment-author"><a href="#">{{ ans.author.username }}</a></div>
															                	<div class="comment-vote">
																                	<ul class="question-vote">
																                		<li><a href="/countUp/{{ question.id }}/{{ ans.id }}" class="question-vote-up" title="Like"></a></li>
																                		<li><a href="/countDown/{{ question.id }}/{{ ans.id }}" class="question-vote-down" title="Dislike"></a></li>
																                	</ul>
															                	</div>
															                	<span class="question-vote-result">{{ ans.avotes }}</span>
															                	<div class="comment-meta">
															                        <div class="date"><i class="icon-time"></i>{{ ans.created_date   }} - {{  question.created_date|timesince:ans.created_date   }}</div>
															                    </div>
															                </div>
															                <div class="text"><p>{{ ans.answer_text }}</p>
															                </div>
															            </div>
															        </div>
															        <!-- <h1>{{ comments|length }}</h1> -->
															        {% for comment in u_comments_all %}
														        		{% if comment.answer.id == ans.id %}
																	        <ul class="children">
																	            <li class="comment">
																	                <div class="comment-body clearfix">
																	                	<div class="avatar">
																	                		{% for procom in allprofile %}
																	                			{% if procom.username = comment.author.username%}
																		                			<img alt="" src="../../static/images/demo/{{ procom.profilePic }}">
																		                		{% endif %}
																	                		{% endfor %}
																	                	</div>
																	                    <div class="comment-text">
																	                        <div class="author clearfix">
																	                        	<div class="comment-author"><a href="#">{{ comment.author.username }}</a></div>
																	                        	<div class="comment-meta">
																	                                <div class="date"><i class="icon-time"></i>{{ comment.created_date }}</div>
																	                            </div>
																	                        </div>
																	                        <div class="text"><p>{{ comment.comment_text }}</p>
																	                        </div>
																	                    </div>
																	                </div>
																	            </li>
																	        </ul>
																	    {% endif %}
																	{% endfor %}
															    </li>
															{% endif %}
														{% endfor %}
													</ol><!-- End commentlist -->
												</div><!-- End page-content -->
												{% endfor %}
											</div>
										</div>
									</div>
								</div><!-- End user-profile-widget -->
							</div><!-- End page-content -->
						</div><!-- End col-md-12 -->
					</div><!-- End user-profile -->
				</div><!-- End row -->

			</div><!-- End main -->
{% endblock %}
